#ast-container span.name {
  color: #05a;
  margin-left: 4px;
}

#ast-container span.ctype {
  margin-left: 4px;
	font-style: italic;
	color: green;
}

#ast-container span.ctype::after,
#ast-container span.ctype::before {
	content: "'";
}

.tree-node,
.ast-node {
  padding-left: 10px;
  width: 100%;
}

/*
с этой поправкой все выглядит менее динамично

.tree-node {
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.cst_high > .tree-node {
  border-top: none;
  border-bottom: none;
}
*/

.self {
  width: 100%;
  display: flex;
}

.label {
  font: 12px "monospace";
  width: 100%;
  user-select: none;
}

.label:hover {
  cursor: pointer;
}

.arrow {
  margin-right: 5px;
  font-size: 75%;
}

.arrow:hover {
  cursor: pointer;
}

.arrow::after {
  content: "\25be";
  color: #666;
}

.arrow.visible::after {
  content: "\25b8";
}

.arrow,
.label {
  display: inline;
}

#ast-container .label {
  display: inherit; /* don't know why it works */
}

#code-editor {
  width: 200px;
  height: 100%;
  box-sizing: border-box;
}

.CodeMirror {
  height: 100% !important;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#main {
  height: 400px;
  width: 400px;
  padding: 0;
  margin: 0;

  overflow: hidden;
}

#cst-container,
#ast-container {
  width: 400px;
  overflow-y: scroll !important;
  overflow-x: hidden;
  padding-top: 4px;
  padding-bottom: 4px;
  box-sizing: content-box;
}

#cst-container:hover {
  cursor: pointer;
}
.start-row-info,
.end-row-info,
.start-col-info,
.end-col-info {
  display: none;
}
.editor-highlight {
  background: rgba(200, 200, 70, 0.5);
}

.editor-highlight-first {
  border-top: 1px solid rgba(200, 200, 70, 0.8);
  background: rgba(200, 200, 70, 0.5);
}

.editor-highlight-last {
  border-bottom: 1px solid rgba(200, 200, 70, 0.8);
  background: rgba(200, 200, 70, 0.5);
}

.editor-highlight-range {
  background: rgba(200, 200, 70, 0.5);
}

.editor-highlight-error {
  border-top: 1px solid rgba(255, 70, 70, 0.8);
  border-bottom: 1px solid rgba(255, 70, 70, 0.8);
  background: rgba(255, 70, 70, 0.5);
}

.lex_high_first {
  border-top: 1px solid rgba(200, 200, 70, 0.8);
}

.lex_high_last {
  border-bottom: 1px solid rgba(200, 200, 70, 0.8);
}

.cst_high,
.highlighter
{
  border-top: 1px solid rgba(200, 200, 70, 0.8);
  border-bottom: 1px solid rgba(200, 200, 70, 0.8);
}

.cst_high,
.lex_high,
.highlighter {
  background: rgba(200, 200, 70, 0.4);
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.cst_high:hover,
.lex_high:hover {
  cursor: pointer;
}

.children.hidden {
	display: none;
}

.token {
  font: 12px "monospace";
}

#lex-container {
	padding-left: 8px;
	padding-top: 4px;
	width: 100%;
	height: 100%;
}

.label,
.lexem {
	display: inline;
}

.label {
	margin-right: 8px;
}

#cont {
	width: 800px;
	height: 600px;
}

.lexem {
	font-style: italic;
	color: green;
}

.lexem::before {
	content: "'";
}

.lexem::after {
	content: "'";
}

.keyword .label {
	color: #708;
}

.type .label {
	color: #170;
}

.identifier .label {
	color: #05a;
}

/* #cst-container .tree-node[data-type="nonterminal"] > .self > .label  {
  color: lightcyan;
}

#cst-container .tree-node[data-type="terminal"] > .self > .label  {
	color: yellow;
} */

/* #cst-container .tree-node > .self > .label  {
  font-weight: bold;
}
#cst-container .tree-node[data-nchildren="0"] > .self > .label  {
  font-weight: normal;
} */

.TOKEN_IDENTIFIER {
	color: #05a !important;
}

span.lexem {
  margin-left: 4px;
}

span.lexem::before,
span.lexem::after {
  content: "'";
}

.TOKEN_INT,
.TOKEN_RETURN,
.TOKEN_AUTO,
.TOKEN_BREAK,
.TOKEN_CASE,
.TOKEN_CHAR,
.TOKEN_CONST,
.TOKEN_CONTINUE,
.TOKEN_DEFAULT,
.TOKEN_DO,
.TOKEN_DOUBLE,
.TOKEN_ELSE,
.TOKEN_ENUM,
.TOKEN_EXTERN,
.TOKEN_FLOAT,
.TOKEN_FOR,
.TOKEN_GOTO,
.TOKEN_IF,
.TOKEN_INLINE,
.TOKEN_INT,
.TOKEN_LONG,
.TOKEN_REGISTER,
.TOKEN_RESTRICT,
.TOKEN_RETURN,
.TOKEN_SHORT,
.TOKEN_SIGNED,
.TOKEN_SIZEOF,
.TOKEN_STATIC,
.TOKEN_STRUCT,
.TOKEN_SWITCH,
.TOKEN_TYPEDEF,
.TOKEN_UNION,
.TOKEN_UNSIGNED,
.TOKEN_VOID,
.TOKEN_VOLATILE,
.TOKEN_WHILE,
.TOKEN_BOOL,
.TOKEN_COMPLEX,
.TOKEN_IMAGINARY
 {
	color: #708;
}

.error-message {
  border-top: 1px solid rgba(255, 70, 70, 0.8);
  background-color: white;
  font: 'Arial', sans-serif;
}

.error-message-title {
  font-weight: bold;
}
.CodeMirror-linenumber {
  min-width: 0;
}