.tree-node {
  padding-left: 10px;
  width: 100%;
}

/*
с этой поправкой все выглядит менее динамично

.tree-node {
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.cst_high > .tree-node {
  border-top: none;
  border-bottom: none;
}
*/

.self {
  width: 100%;
  display: flex;
}

.label {
  font: 12px "monospace";
  width: 100%;
  user-select: none;
}

.label:hover {
  cursor: pointer;
}

.arrow {
  margin-right: 5px;
  font-size: 75%;
}

.arrow:hover {
  cursor: pointer;
}

.arrow::after {
  content: "\25be";
  color: #666;
}

.arrow.visible::after {
  content: "\25b8";
}

.arrow,
.label {
  display: inline;
}

#code-editor {
  width: 200px;
  height: 100%;
  box-sizing: border-box;
}

.CodeMirror {
  height: 100% !important;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#main {
  height: 400px;
  width: 400px;
  padding: 0;
  margin: 0;

  overflow: hidden;
}

#cst-container {
  width: 400px;
  overflow-y: scroll !important;
  overflow-x: hidden;
  padding-top: 4px;
  padding-bottom: 4px;
  box-sizing: content-box;
}

#cst-container:hover {
  cursor: pointer;
}
.start-row-info,
.end-row-info,
.start-col-info,
.end-col-info {
  display: none;
}
.editor-highlight {
  background: rgba(200, 200, 70, 0.5);
}

.editor-highlight-first {
  border-top: 1px solid rgba(200, 200, 70, 0.8);
  background: rgba(200, 200, 70, 0.5);
}

.editor-highlight-last {
  border-bottom: 1px solid rgba(200, 200, 70, 0.8);
  background: rgba(200, 200, 70, 0.5);
}

.editor-highlight-range {
  background: rgba(200, 200, 70, 0.5);
}

.editor-highlight-error {
  border-top: 1px solid rgba(255, 70, 70, 0.8);
  border-bottom: 1px solid rgba(255, 70, 70, 0.8);
  background: rgba(255, 70, 70, 0.5);
}

.lex_high_first {
  border-top: 1px solid rgba(200, 200, 70, 0.8);
}

.lex_high_last {
  border-bottom: 1px solid rgba(200, 200, 70, 0.8);
}

.cst_high {
  border-top: 1px solid rgba(200, 200, 70, 0.8);
  border-bottom: 1px solid rgba(200, 200, 70, 0.8);
}

.cst_high,
.lex_high {
  background: rgba(200, 200, 70, 0.4);
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.cst_high:hover,
.lex_high:hover {
  cursor: pointer;
}

.children.hidden {
	display: none;
}

.token {
  font: 12px "monospace";
}

#lex-container {
	padding-left: 8px;
	padding-top: 4px;
	width: 100%;
	height: 100%;
}

#lex-container .label,
#lex-container .lexem {
	display: inline;
}

#lex-container .label {
	margin-right: 8px;
}

#cont {
	width: 800px;
	height: 600px;
}

.lexem {
	font-style: italic;
	color: green;
}

.lexem::before {
	content: "'";
}

.lexem::after {
	content: "'";
}

.keyword .label {
	color: #708;
}

.type .label {
	color: #170;
}

.identifier .label {
	color: #05a;
}

/* #cst-container .tree-node[data-type="nonterminal"] > .self > .label  {
  color: lightcyan;
}

#cst-container .tree-node[data-type="terminal"] > .self > .label  {
	color: yellow;
} */

/* #cst-container .tree-node > .self > .label  {
  font-weight: bold;
}
#cst-container .tree-node[data-nchildren="0"] > .self > .label  {
  font-weight: normal;
} */

#cst-container .TOKEN_IDENTIFIER {
	color: #05a !important;
}

span.lexem {
  margin-left: 4px;
}

span.lexem::before,
span.lexem::after {
  content: "'";
}

#cst-container .TOKEN_INT,
#cst-container .TOKEN_RETURN,
#cst-container .TOKEN_AUTO,
#cst-container .TOKEN_BREAK,
#cst-container .TOKEN_CASE,
#cst-container .TOKEN_CHAR,
#cst-container .TOKEN_CONST,
#cst-container .TOKEN_CONTINUE,
#cst-container .TOKEN_DEFAULT,
#cst-container .TOKEN_DO,
#cst-container .TOKEN_DOUBLE,
#cst-container .TOKEN_ELSE,
#cst-container .TOKEN_ENUM,
#cst-container .TOKEN_EXTERN,
#cst-container .TOKEN_FLOAT,
#cst-container .TOKEN_FOR,
#cst-container .TOKEN_GOTO,
#cst-container .TOKEN_IF,
#cst-container .TOKEN_INLINE,
#cst-container .TOKEN_INT,
#cst-container .TOKEN_LONG,
#cst-container .TOKEN_REGISTER,
#cst-container .TOKEN_RESTRICT,
#cst-container .TOKEN_RETURN,
#cst-container .TOKEN_SHORT,
#cst-container .TOKEN_SIGNED,
#cst-container .TOKEN_SIZEOF,
#cst-container .TOKEN_STATIC,
#cst-container .TOKEN_STRUCT,
#cst-container .TOKEN_SWITCH,
#cst-container .TOKEN_TYPEDEF,
#cst-container .TOKEN_UNION,
#cst-container .TOKEN_UNSIGNED,
#cst-container .TOKEN_VOID,
#cst-container .TOKEN_VOLATILE,
#cst-container .TOKEN_WHILE,
#cst-container .TOKEN_BOOL,
#cst-container .TOKEN_COMPLEX,
#cst-container .TOKEN_IMAGINARY
 {
	color: #708;
}